.login-form__alert {
  width: 100%;
  height: 32px;
  margin: 30px 0 60px;
}

.login-form__helper {
  opacity: 0;
  height: 18px;
  transition: opacity 0.3s;
}
.login-form__helper--has-error {
  opacity: 1;
}

.login-form__btn {
  position: relative;
  width: 130px;
}
.login-form__icon-block {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  width: 18px;
}
.login-form__icon {
  display: none;
}
.login-form__btn--animated .login-form__icon {
  display: block;
}

.glyphicon-refresh-animate {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.u--center {
  text-align: center;
}
