<h2>Menu</h2>

<ul class="menu">
    <li><a href="weather">Current Weather</a></li>
    <li><a href="help">Help page</a></li>
    <li><a href="about">About page</a></li>
    <li><a href="json">JSON data</a></li>
</ul>

<h1>{{title}}</h1>